/* body and global */
body {
background: #f9fbfb;
}
.centralWrap {
    max-width: 1200px;
    margin: 0 auto;
	    padding: 10px 20px;
}
#QuizExplanation {
    margin: 0 10px 0 10px;
}

 
/* fill in the blank - onpage */
.exerWrap {
margin-top: 50px;
text-align: center;
}
.exerTask {
font-size: 24px;
}
.exerEvaluation {
text-align: center;
padding-top: 15px;
height: 100%;
max-width: 402px;
}
.resultNum {
font-size: 63px;
}
.FillIn p{
padding-bottom: 5px;
}
.FillIn input , .Rearrange input, .MatchRightOptions span {
background-color: #F9F9F9;
padding: 5px;
border: solid 1px #c4c7cb;
box-shadow: inset 0px 1px 1px #e0e4e9;
font-weight: bold;
width: 75px;
margin-right: 5px;
	}
.hidden {
	    display:none; 
	}	
.specialCharWrap {
margin-top: 10px;
clear: both;
display: table;
margin: 0 auto;
}
.specialCharWrap button {
font-size: 12px;
-webkit-appearance: none;
margin: 0 4px 4px 0;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
background: -moz-linear-gradient(top,#fff,#e1e1e1);
background: -webkit-gradient(linear,left top,left bottom,color-stop(0.00,#fff),color-stop(1.00,#e1e1e1));
filter: progid:DXImageTransform.Microsoft.gradient(Enabled='true',StartColorStr=#ffffffff,EndColorStr=#ffe1e1e1,GradientType=0);
border: 1px solid #ccc;
border-color: #ccc #999 #999 #ccc;
    padding: 4px 7px;
cursor: pointer;
color: #000;
float: left;
height: 24px;
-webkit-tap-highlight-color: rgba(0,0,0,0);
}
.answerButtons input {
margin-right: 5px;
}
#QuizAll {
    display: none;
}
.hideQuizBtn {
    display: none;
}
.exerButtons input {
    cursor:pointer;
    padding:8px;
    color:#fff;
    margin-bottom:5px;
    width:100px;
    border-radius:5px;
}
 .checkAnswers,   .checkAnswersAll {
    background:#00A2E8;
    border:1px solid #00A2E8;
   /* border-top-right-radius:0;
    border-bottom-right-radius:0; */
    min-width:140px;
}
 .showCorrectAnswers,   .showCorrectAnswersAll {
    background:#98D349;
    border:1px solid #98D349;
    display:none;
}
.exerButtons .clearAnswers  {
    border:1px solid;
    background:transparent;
    color:black;
   /* border-top-left-radius:0;
    border-bottom-left-radius:0; */
    display:none;
}
/* new exercises CSS
*****************************/
.FillIn, .multiForm {
padding: 11px 20px 10px 20px;
}
.quizSummaryText {
padding-bottom: 10px;
font-size: 24px;
}
.exerBottomWrap {
padding: 10px 0 0 25px;
clear: both;
}

/* multiple choice
********************/
.multiForm ul {
display: inline-block;
}
.multiForm span {
	margin-left: 3px;
	cursor: pointer;
		font-weight: 200;
}

.selectedCheckbox {
    background: #186AB1;
    color: white;
}
.multiForm input {
    width: 18px;
    height: 18px;
    background: #fcfff4;
	margin: 0;
padding: 0;
}
.multiForm input:hover {
cursor: pointer;
}
.multiForm ul li {
list-style: none;
padding: 3px 15px;
margin-left: 15px;
display: table;
margin: 5px 0;
 border-radius: 5px;
}
.multiForm ul li:hover {
box-shadow: 1px 1px 6px 1px rgba(189, 189, 189, 0.9);
cursor: pointer;
}
.trueFalse ul li {
list-style: none;
padding: 3px 15px;
margin-left: 15px;
display: inline-block;
}
.correctAnswer {
  background: rgb(230, 248, 173);
   color: #769c00;
}
.incorrectAnswer {
background: rgb(252, 206, 197);
color:rgb(202, 48, 23);
}
.checkedAnswer {
box-shadow: 1px 1px 8px 4px rgba(189, 189, 189, 0.9);
    font-weight: bold;
}

.Rearrange input {
    display: inline-block;
}
.Rearrange span {
font-weight: bold;
}
/* matching */
.Match {
    float: left;
 width: 48%;
 padding: 0;
}
.Match input{
width: 35px;
text-align: center;
padding: 4px 10px;
}
.Match label {
display: inline-block;
font-weight: 200;
vertical-align: -2px;
font-weight: 200;
}
.Match ul {
 padding: 0;
 text-align: left;
margin-left: 35%;
}
.Match ul li, .MatchRightOptions ul li{
list-style-type: none;    
margin-left: 0px;
}
.Match ul li {
margin-bottom: 6px;
}
.MatchRightOptions ul {
text-align: left;
margin-left: 30%;  
}
.MatchRightOptions ul li{
margin-bottom:15px;    
}
.MatchRightOptions span{
padding: 4px 10px;  
}

.MatchRightOptions {
    float: left;
	width:49%;
}
.exerButtons {
clear:both;
}
 
.hint {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	
}
.hinted {
    background-color: rgb(230, 248, 173);
}
.hintBtn {
    min-width: 120px;
		    background: #98D349;
    border: 1px solid #98D349;
}
.overlay-bg {
    display:none;
    position: fixed;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
    cursor: pointer;
    background: #000;
    /* fallback */
    background: rgba(0, 0, 0, 0.85);
}
.overlay-content {
    width: 780px;
    height: 465px;
    position: relative;
    margin: 0 auto;
    cursor: default;
    color: #fff;
    padding: 30%;
    font-size: 32px;
}
.QuizEvaluation {
    max-width: 100% !important;
}
.timerWrap {
font-size: 24px;
}
#StartQ {
      background: #3498db;
  background-color: #f62b2b; background-image: -webkit-gradient(linear, left top, left bottom, from(#f62b2b), to(#d20202));
 background-image: -webkit-linear-gradient(top, #f62b2b, #d20202);
 background-image: -moz-linear-gradient(top, #f62b2b, #d20202);
 background-image: -ms-linear-gradient(top, #f62b2b, #d20202);
 background-image: -o-linear-gradient(top, #f62b2b, #d20202);
 background-image: linear-gradient(to bottom, #f62b2b, #d20202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#f62b2b, endColorstr=#d20202);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
        border: none;
  color: #ffffff;
  font-size: 22px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
    min-width: 100%;
    margin: 0 auto;
    display: block;
    
}

#StartQ:hover {
 background-color: #e40a0a; background-image: -webkit-gradient(linear, left top, left bottom, from(#e40a0a), to(#9f0202));
 background-image: -webkit-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -moz-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -ms-linear-gradient(top, #e40a0a, #9f0202);
 background-image: -o-linear-gradient(top, #e40a0a, #9f0202);
 background-image: linear-gradient(to bottom, #e40a0a, #9f0202);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#e40a0a, endColorstr=#9f0202);
  text-decoration: none;
}
#QuizDiff {
    text-align: center;
}
#QuizDiff input{
       transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
#QuizDiff label{
   margin: 0 25px 10px 10px;
    font-size: 22px;
    font-weight: 100;
}
#timwerWrap {
margin-top: 10px;
}
#RestartQ {
 color: #000;
     min-width: 140px;
}
#QuizExplanation .points {
        padding: 5px;
    border: solid 1px #c4c7cb;
    box-shadow: inset 0px 1px 1px #e0e4e9;
    font-weight: bold;
    width: 85px;
    margin-right: 5px;
    display: inline-block;
    margin-bottom: 5px;
}
#QuizExplanation .correct {
        border-color: rgb(118, 156, 0);
    color: rgb(118, 156, 0);
    background: rgb(230, 248, 173);
}
#QuizExplanation .almostCorrect {
        color: rgb(138, 109, 59);
    border-color: rgb(250, 235, 204);
    background-color: rgb(252, 248, 227);
}
#QuizExplanation .incorrect {
        color: rgb(202, 48, 23);
    border-color: rgb(202, 48, 23);
    background: rgb(252, 206, 197);
}
#QuizExplanation #gotit {
  float: right;
    background: #00A2E8;
    border: 1px solid #00A2E8;
    color: white;
    padding: 3px 12px;
    border-radius: 5px;  
    
}